
{{> header}}
<div class="container">
    <h1>Deine Bestellung</h1>
    <p>Name: {{name}}</p>
    <p>Inhalt: {{content}}</p>
    <p>Preis: {{price}}</p>
    <p>Bezahlt: {{payed}}</p>
    {{#showPayment}}
    <p>Online bezahlen: </p>
    <a target="_blank" class="btn btn-primary giropay" href="/pay/giropay/{{id}}">
        <img src="/giropay.svg" alt="Giropay Logo" width="50" >
        Mit Giropay bezahlen
    </a>
    {{/showPayment}}
</div>
{{> footer}}